<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Characters & Team</title>
</head>
<body>

<ul>
    {{range .Characters}}
    <li>{{.Quote}} - {{.Name}}</li>
    {{end}}
</ul>

<ul>
    {{range .Teams}}
    <li>{{.Village}} - {{.Team}} - {{.Jutsu}}</li>
    {{end}}
</ul>

</body>
</html>