<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="post">

    <input type="email" name="username" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="firstname" placeholder="first name"><br>
    <input type="text" name="lastname" placeholder="last name"><br>
    <label for="sr">Role</label>
    <select name="role" id="sr">
        <option value="user">user</option>
        <option value="admin">admin</option>
        <option value="Konoha">Konoha Ninja</option>
    </select>
    <input type="submit">

</form>

</body>
</html>