<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
    <h1>Cookie Values:</h1>
    {{range .}}
        <h2>{{.}}</h2>
    {{end}}
</body>
</html>