<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jack</title>
</head>
    <body>
        <h1>This is from dog</h1>
        <img src="/dog.jpg" alt="a picture of a dog">
    </body>
</html>